<div id="navbar">

    <h2>File Explorer</h2>

    <nav>

        <a><img src="{{ asset('build/images/iconhomepage.png') }}" alt="home_icon"/>Homepage</a>

        <a><img src="{{ asset('build/images/iconupload.png') }}" alt="home_upload"/>Upload</a>

        <a><img src="{{ asset('build/images/iconform.png') }}" alt="home_form"/>Register</a>

        <a><img src="{{ asset('build/images/iconlogin.png') }}" alt="home_login"/>Login</a>

        <a><img src="{{ asset('build/images/iconslogout.png') }}" alt="home_logout"/>Logout</a>

    </nav>

</div>
