<div id="navbar">

    <h2>File Explorer</h2>

    <nav>

        <a href="#"><img src="{{ asset('build/images/iconhomepage.png') }}" alt="icon_home"/>Homepage</a>

        <a href="#"><img src="{{ asset('build/images/iconupload.png') }}" alt="icon_upload"/>Upload file</a>

        <a href="#"><img src="{{ asset('build/images/iconfile.png') }}" alt="icon_file"/>Add category</a>

        <a href="#"><img src="{{ asset('build/images/iconform.png') }}" alt="icon_form"/>Register form</a>

        <a href="#"><img src="{{ asset('build/images/iconlogin.png') }}" alt="icon_login"/>Login</a>

        <a href="#"><img src="{{ asset('build/images/iconslogout.png') }}" alt="icon_logout"/>Logout</a>

    </nav>

</div>
